<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>i have to .GO</title>


    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type = "text/javascript"
      src = "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Peddana' rel='stylesheet' type='text/css'>
    <!-- leaflet map
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />-->
    <!-- Google maps API -->



    <!-- STYLESHEETS -->

    <link rel="stylesheet" type="text/css" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  </head>

  <body>

    <div class="top">
      <p>I have to <img src="http://i.imgur.com/KYvAGUW.png" ></p>
    </div>
    <table class="formTable">
      <form class="pure-form pure-form-stacked" id="form" method="post" >
        <fieldset class="formField">
          <div class="pure-form">
            <label for="name">Location Name:</label><br>
            <input id="text" name="name" value="" placeholder="Name" required><br><br>
          </div>
            <div class="pure-form">
            <label for="StreetNo">Street Number:</label><br>
            <input id="number" type="number" name="StreetNo" value="" placeholder="Street Number" required><br><br>
          </div>
            <div class="pure-form">
            <label for="StreetName">Street Name:</label><br>
            <input id="text" name="StreetName" value="" placeholder="Street Name" required><br><br>
          </div>
            <div class="pure-form">
            <label for="Zip">Area Code:</label><br>
            <input id="number"type="number" name="Zip" value="" placeholder="Zip" required><br><br>
          </div>
            <div class="pure-form">
            <label for="rating">Your rating</label><br>
            <input id="number" type="number" name="rating" pattern="[1-5]" value="" placeholder="Rating 1 to 5">
            <input type="hidden" name="City" value="San Francisco">
            <input type="hidden" name="State" value="California">
          </div><br>
            <button class="pure-button" id="submitButton">Submit</button>
          </div>
        </fieldset>
      </form>
    </table>
      <div class="fixedMap">
        <div class="map" id="mapid">
        </div>
      </div>
      <button class="button-c pure-button" id="add">Add a bathroom</button>
        <div class="list">
          <li class="list-group-item">
            <h4 class="inline-header"></h4>
            <span></span>
          </li>
        </div>

        <!-- handlebars -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
<!-- Handlebars -->
<div class="row toilet" data-toilet-id="{{_id}}">
  <div class="panel-body">
          <script id="toilets-template" type="text/x-handlebars-template">
                <!-- begin album internal row  -->
                <div class='row' id="toilet-row">
                    {{#each toilets}}
                  <div class="list-group">
                    <div class="list-group-item">
                      <h2 class='inline-header'>Place: {{Name}}</h4>
                    </div>
                    <div class="list-group-item">
                      <h2 class='inline-header'>Rating: {{rating.0.rated}}</h4>
                      <button class="pure" id="delButton">Del</button>
                      <button class='pure-button' id="go" value="{{StreetNo}} {{StreetName}} Street {{City}} {{Zip}}">GO!</button>
                    </div>
                    <div class="lineCheat">
                    </div>
                  </div>
                    {{/each}}

                </div>
              </script>
                <!-- end of album internal row -->
              </div>
            </div>

            <!-- end one album -->
            <!-- javascript-->
        <script src="scripts/app.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCY25kFpB9MKtDTXzKV3VlSYnlcyc8ML10&callback=initMap"
        async defer></script>
  </body>
</html>
