<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>i have to .GO</title>
    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type = "text/javascript"
      src = "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Peddana' rel='stylesheet' type='text/css'>
    <!-- leaflet map -->
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <!-- STYLESHEETS -->

    <link rel="stylesheet" type="text/css" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  </head>

  <body>
    <div class="top">
      <h1>I have to .GO</h1>
    </div>
    <table class="formTable">
      <form class="form" method="post" >
        <fieldset class="formField">
          <div class="pure-control-group">
            <label for="name">Location Name:</label><br>
            <input type="input" name="name" value="omagad?" placeholder="Name"><br><br>
          </div>
            <div class="pure-control-group">
            <label for="StreetNo">Street Number:</label><br>
            <input type="input" name="StreetNo" value="225" placeholder="Number"><br><br>
          </div>
            <div class="pure-control-group">
            <label for="StreetName">Street Name:</label><br>
            <input type="input" name="StreetName" value="bush" placeholder="Street Name"><br><br>
          </div>
            <div class="pure-control-group">
            <label for="Zip">Area Code:</label><br>
            <input type="input" name="Zip" value="94222" placeholder="Zip"><br><br>
          </div>
            <div class="pure-control-group">
            <label for="rating">Your rating</label><br>
            <input type="input" name="rating" value="" placeholder="Rating">
            <input type="hidden" name="City" value="San Francisco">
            <input type="hidden" name="State" value="California">
          </div>
            <button class="button-success" id="submitButton">Submit</button>
          </div>
        </fieldset>
      </form>
    </table>
        <div class="map" id="mapid">
        </div>
        <div class="list">
          <li class="list-group-item">
            <h4 class="inline-header"></h4>
            <span></span>
          </li>
          <a class="pure-button" href="#">A Pure Button</a>
        </div>
        <!-- handlebars -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
<!-- Handlebars -->
<div class="row toilet" data-toilet-id="{{_id}}">
  <div class="panel-body">
          <script id="toilets-template" type="text/x-handlebars-template">
                <!-- begin album internal row  -->
                <div class='row' id="toilet-row">
                  {{#each toilets}}
                  <ul class="list-group">
                    <li class="list-group-item">
                      <h4 class='inline-header'>Place:</h4>
                      <span class='name'>{{Name}}</span>
                    </li>
                    <li class="list-group-item">
                      <h4 class='inline-header'>Rating:</h4>
                      <span class='rating'>{{rating.0.rated}}</span>
                    </li>
                  </ul>
                  {{/each}}
                </div>
              </script>
                <!-- end of album internal row -->
              </div>
            </div>

            <!-- end one album -->
            <!-- javascript-->
        <script src="scripts/app.js"></script>
  </body>
</html>
